
img{
  width: 300px;

}
.products{
  width: 500px;
  height: 500px;

}
.Pagination li{
    list-style: none;
    font-size: 20px;
    float: left;
    margin-left: 20px;
    cursor: pointer;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
